:root {
  --main-color: #262626;
}

/* =============== basic reset =============== */
body {
  font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  color: var(--main-color);
}

a {
  text-decoration: none;
  color: currentColor;
}

ul {
  list-style-type: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

/* =============== components =============== */
.container {
  margin: 0 auto;
  padding: 0 5%;
  max-width: 1600px;
  display: flex;
  align-items: center;
  height: 100%;

  position: relative;
}

@media screen and (min-width: 860px) {
  .container {
    padding: 0 24px;
  }
}

@media screen and (min-width: 1084px) {
  .container {
    padding: 0 5%;
  }
}

.header {
  height: 54px;
  border-bottom: 1px solid #e6e6e6;
  font-size: 13px;
}

.header__btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 0;
}

@media screen and (min-width: 860px) {
  .from860 {
    padding: 16px 26px 16px 10px;
  }
}

@media screen and (min-width: 914px) {
  .from914 {
    padding: 16px 26px 16px 10px;
  }
}

@media screen and (min-width: 1014px) {
  .from1014 {
    padding: 16px 26px 16px 10px;
  }
}

@media screen and (min-width: 1176px) {
  .from1176 {
    padding: 16px 26px 16px 10px;
  }
}

@media screen and (min-width: 1400px) {
  .from1400 {
    padding: 16px 26px 16px 10px;
  }
}

/* =============== logo =============== */
.logo {
  padding: 14px 6px 13px 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 860px) {
  .logo {
    left: 24px;
    transform: translate(0, -50%);
  }
}

@media screen and (min-width: 1084px) {
  .logo {
    left: 5%;
  }
}

/* ============ surface-link ============ */
.surface-link {
  position: absolute;
  top: 72px;
  left: 40px;
  transform: translate(-50%, -50%);

  font-size: 15px;
  font-weight: 600;
  /* padding-left: 7px; */
}

.surface-link .nav__text {
  visibility: visible;
}

@media screen and (min-width: 860px) {
  .surface-link__wrapper {
    position: relative;
  }

  .surface-link {
    margin-left: 34px;
    font-size: 18px;
    /* font-weight: 600; */
    padding: 16px 6px 16px 10px;

    top: 50%;
    left: 161px;
  }

  .surface-link::before {
    border-left: 1px solid #000;
    height: 24px;
    content: " ";
    position: absolute;
    top: 15px;
    left: -14px;
    pointer-events: none;
  }

  .surface-link .dropdown__item::after {
    display: none;
  }
}

/* ============ navigation ============ */
.navigation {
  display: flex;
  align-items: center;
}

.nav__text {
  position: relative;
  visibility: hidden;
  pointer-events: none;
  width: 0;
  white-space: nowrap;
}

@media screen and (min-width: 1400px) {
  .nav__text {
    visibility: visible;
    width: 100%;
  }
}

.nav__text::before {
  content: "";
  width: 0;
  height: 2px;
  background-color: #000;
  position: absolute;
  bottom: -4px;
  left: 0;
}

.nav__item {
  pointer-events: none;
}

@media screen and (min-width: 1400px) {
  .nav__item {
    pointer-events: all;
  }
}

.surface-link:hover .nav__text::before,
.surface-link:focus .nav__text::before,
.nav__item:hover .nav__text::before,
.nav__item:focus .nav__text::before {
  width: 100%;
}

@media screen and (min-width: 860px) {
  .navigation {
    margin-left: 234px;
  }

  .navigation li:nth-child(-n + 2),
  .navigation li:nth-child(-n + 2) .nav__text,
  .navigation li:nth-child(-n + 2) .nav__item {
    visibility: visible;
    width: 100%;
    pointer-events: all;
  }
}

@media screen and (min-width: 914px) {
  .navigation li:nth-child(-n + 4),
  .navigation li:nth-child(-n + 4) .nav__text,
  .navigation li:nth-child(-n + 4) .nav__item {
    visibility: visible;
    width: 100%;
    pointer-events: all;
  }

  .navigation li:nth-child(2) {
    display: none;
  }
}

@media screen and (min-width: 1014px) {
  .navigation li:nth-child(-n + 6),
  .navigation li:nth-child(-n + 6) .nav__text,
  .navigation li:nth-child(-n + 6) .nav__item {
    visibility: visible;
    width: 100%;
    pointer-events: all;
  }

  .navigation li:nth-child(2),
  .navigation li:nth-child(4) {
    display: none;
  }
}

@media screen and (min-width: 1176px) {
  .navigation li,
  .navigation li .nav__text,
  .navigation li .nav__item {
    visibility: visible;
    width: 100%;
    pointer-events: all;
  }

  .navigation li:nth-child(2),
  .navigation li:nth-child(4),
  .navigation li:nth-child(6) {
    display: none;
  }
}

.dropdown__item {
  width: 0;
}

.dropdown__item::after {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  bottom: 4px;
  right: -20px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' %3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg height='8px' id='Layer_1' style='enable-background:new 0 0 10 10;' version='1.1' viewBox='0 0 100 100' width='12px' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg%3E%3Cline style='fill:%23262626;stroke:%232F3435;stroke-width:12;stroke-linecap:square;stroke-miterlimit:10;' x1='111' x2='64' y1='40.5' y2='87.499'/%3E%3Cline style='fill:none;stroke:%232F3435;stroke-width:12;stroke-linecap:square;stroke-miterlimit:10;' x1='64' x2='17' y1='87.499' y2='40.5'/%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-width: 860px) {
  .dropdown__item::after {
    bottom: 2px;
    right: -16px;
  }
}

.burger {
  width: 48px;
  height: 48px;
  border: none;
  background-color: transparent;
  padding: 0 6px 0 8px;
  margin-right: 10px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0%, -50%);
  cursor: pointer;
}

.burger::after {
  content: "";
  width: 22px;
  height: 22px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' %3F%3E%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:none;%7D%3C/style%3E%3C/defs%3E%3Ctitle/%3E%3Cg data-name='Layer 2' id='Layer_2'%3E%3Cpath d='M28,10H4A1,1,0,0,1,4,8H28a1,1,0,0,1,0,2Z'/%3E%3Cpath d='M28,17H4a1,1,0,0,1,0-2H28a1,1,0,0,1,0,2Z'/%3E%3Cpath d='M28,24H4a1,1,0,0,1,0-2H28a1,1,0,0,1,0,2Z'/%3E%3C/g%3E%3Cg id='frame'%3E%3Crect class='cls-1' height='32' width='32'/%3E%3C/g%3E%3C/svg%3E");
}

@media screen and (min-width: 860px) {
  .burger {
    display: none;
  }
}

/* ============ actions ============ */
.actions {
  margin-left: auto;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.all-ms {
  transform: scale(0);
}

@media screen and (min-width: 860px) {
  .actions {
    margin-right: 120px;
  }

  .all-ms {
    transform: scale(1);
    visibility: visible;
    width: 100%;
    pointer-events: all;
  }

  .all-ms .nav__text,
  .all-ms .dropdown__item {
    visibility: visible;
    width: 100%;
    pointer-events: all;
  }
}

@media screen and (min-width: 1400px) {
  .actions {
    margin-right: 0;
  }
}

.search {
  visibility: hidden;
  border: none;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0%, -50%);
}

.search::after {
  visibility: visible;
  content: "";
  position: absolute;
  margin-left: 5px;
  top: 50%;
  left: 0;
  transform: translate(300%, -50%);
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' xmlns:xlink='http://www.w3.org/1999/xlink' enable-background='new 0 0 512 512'%3E%3Cg%3E%3Cg%3E%3Cpath d='m304.7,10.9c-108.5,0-196.4,87.9-196.4,196.4 0,46.9 16.4,89.9 43.8,123.7l-135,135c-8,8-8,20.9 0,28.9 8,8 20.9,8 28.9,0l135-135c33.8,27.4 76.8,43.8 123.7,43.8 108.5,0 196.4-87.9 196.4-196.4s-88-196.4-196.4-196.4zm0,352c-85.9,0-155.6-69.7-155.6-155.6 0-85.9 69.7-155.6 155.6-155.6 85.9,0 155.6,69.7 155.6,155.6 5.68434e-14,85.9-69.7,155.6-155.6,155.6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
  padding: 27px 8px;
  pointer-events: all;
}

@media screen and (min-width: 860px) {
  .search {
    position: relative;
    top: 0;
    right: 0;
    transform: translate(150%, 0%);
  }
  .search::after {
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
  }
}

@media screen and (min-width: 1400px) {
  .search {
    visibility: visible;
    width: 100%;

    height: 100%;
    transform: translate(0%, 0%);
  }

  .search::after {
    transform: translate(30%, -50%);
    padding: 8px 8px;
  }

  .search .nav__text {
    visibility: visible;
    width: 100%;
    pointer-events: all;
  }
}

.cart {
  visibility: hidden;
  width: 0;
}
.cart .nav__text {
  display: none;
}

.cart::after {
  visibility: visible;
  pointer-events: all;
  content: "";
  position: absolute;
  top: 50%;
  right: 14px;
  transform: translate(-480%, -50%);
  margin-left: 5px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 299.915 299.915' style='enable-background:new 0 0 299.915 299.915;' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M293.494,53.616H55.701c-0.463,0-0.88,0.174-1.318,0.27l-9.672-32.115c-0.109-0.347-0.341-0.604-0.495-0.925 c-0.264-3.303-2.956-5.919-6.324-5.919c-0.006,0-0.019,0-0.026,0L6.401,15.061C2.847,15.081-0.013,17.973,0,21.52 c0.013,3.541,2.886,6.401,6.427,6.401c0.006,0,0.019,0,0.026,0l26.652-0.116l61.524,204.187 c-6.112,5.585-10.013,13.541-10.013,22.468c0,16.858,13.663,30.527,30.527,30.527c16.858,0,30.527-13.67,30.527-30.527 c0-4.396-0.964-8.548-2.635-12.32h88.819c-1.671,3.773-2.635,7.924-2.635,12.32c0,16.858,13.663,30.527,30.527,30.527 c16.858,0,30.527-13.67,30.527-30.527s-13.67-30.527-30.527-30.527c-6.401,0-12.333,1.986-17.243,5.354H132.38 c-4.91-3.368-10.836-5.354-17.237-5.354c-3.181,0-6.189,0.623-9.075,1.523l-9.178-30.45l161.918-0.129 c2.834,0,5.167-1.87,6.016-4.422c0.219-0.405,0.456-0.797,0.585-1.26l34.274-126.39c0.219-0.803,0.244-1.607,0.154-2.384 c0.006-0.135,0.077-0.244,0.077-0.373C299.921,56.495,297.042,53.616,293.494,53.616z M259.753,236.781 c9.749,0,17.674,7.924,17.674,17.674c0,9.749-7.924,17.674-17.674,17.674c-9.75,0-17.674-7.924-17.674-17.674 C242.08,244.705,250.004,236.781,259.753,236.781z M115.15,236.781c9.75,0,17.674,7.924,17.674,17.674 c0,9.749-7.924,17.674-17.674,17.674s-17.674-7.924-17.674-17.674C97.476,244.705,105.4,236.781,115.15,236.781z M254.04,182.03 l-161.011,0.129L58.176,66.476h227.201L254.04,182.03z'/%3E%3C/g%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
  padding: 27px 7px;
}

@media screen and (min-width: 860px) {
  .cart::after {
    right: 18px;
  }
}

@media screen and (min-width: 1084px) {
  .cart::after {
    right: 5%;
  }
}

@media screen and (min-width: 1176px) {
  .cart::after {
    transform: translate(-450%, -50%);
  }
}

@media screen and (min-width: 1400px) {
  .cart {
    visibility: visible;
    width: 100%;
    margin-left: 10px;
    position: relative;
  }
  .cart .nav__text {
    display: block;
  }

  .cart::after {
    right: 8px;
    transform: translate(0, -50%);
  }
}

.sign-in {
  display: flex;
  align-items: center;
  width: 0;
}

.cart-n-sign-in__text {
  display: none;
  /* visibility: hidden;
  transform: scale(0); */
}

.sign-in__icon {
  width: 54px;
  height: 54px;
  margin: 0 8px;
  padding: 11px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0%, -50%);
}

@media screen and (min-width: 860px) {
  .sign-in__icon {
    margin: 0;

    right: 24px;
  }
}

@media screen and (min-width: 1084px) {
  .sign-in__icon {
    right: 5%;
  }
}

@media screen and (min-width: 1400px) {
  .sign-in {
    width: 100%;
    height: 100%;
    margin-left: 10px;
    display: flex;
    padding: 0;
  }

  .cart-n-sign-in__text {
    /* visibility: visible;
    transform: scale(1); */
    display: contents;
  }

  .sign-in .cart-n-sign-in__text {
    padding: 16px 0 16px 12px;
  }

  .sign-in__icon {
    position: static;
    top: 0;
    right: 0;
    transform: translate(0%, 0%);
  }
}

.header a:focus,
.header button:focus {
  border: 1px dashed;
  outline: none;
}

.prompt {
  display: none;
}

@media screen and (min-width: 860px) {
  .search:hover .prompt,
  .search:focus .prompt,
  .cart:hover .prompt,
  .cart:focus .prompt {
    visibility: visible;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 2px #777;
    color: #333;
    display: block;
    font-size: 12px;
    padding: 2px;
    position: absolute;
    content: "";
    right: 8%;
    top: 35px;
  }
}

@media screen and (max-width: 1399px) {
  .sign-in:hover .prompt,
  .sign-in:focus .prompt {
    visibility: visible;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 2px #777;
    color: #333;
    display: block;
    font-size: 12px;
    padding: 2px;
    position: absolute;
    content: "";
    right: 5%;
    top: 50px;
  }
}
